/*Definindo variáveis*/

:root{
    --vermelho:#dd0b16;
    --cinza:#141414;
    --letra:#E5E5E5;
}

/*Resetando o estilo do html*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Configuração do site*/

body{
    font-family: NetflixSans;
    background-color: var(--cinza);
}

header{
    background-color: var(--cinza);
    background: linear-gradient(#000000,var(--cinza));
    margin-bottom: 0.5%;
}

header .container{
    display: flex;
    margin-left: 50px;
    align-items: center;
    height: 65px;
}

header h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--vermelho);
    font-size: 28px;
}

header nav{
    margin-left: 50px;
    width: 50%;
}

header nav a{
    text-decoration: none;
    color: var(--letra);
    margin-right: 15px;
    font-size: 14px;
}

header nav a:hover{
    color: #c2c2c2;
    transition: .3s ease-in-out;
}

header div .direita{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}

.direita i{
    margin-right: 30px;
}

.fa-magnifying-glass{
    color: white;
    transform: rotate(-12deg);
}

.fa-magnifying-glass:hover{
    cursor: pointer;
}

.fa-bell{
    color: white;
}

.fa-bell:hover{
    cursor: pointer;
}

.profile{
    display: flex;
    align-items: center;
}

.profile img{
    background-color: #3f3f3f;
    height: 35px;
    border-radius: 10%;
}

.fa-caret-down{
    color: white;
    margin-left: 10px;
}

.profile:hover > .fa-caret-down{
    transition: .25s;
    transform: rotate(180deg);
}

.destaque{
    display: flex;
    align-items: center;
    background-image: url(info.jpg);
    height: 35rem;
    margin-bottom: 1.5%;
    color: var(--letra);
}

.info-destaque{
    height: 85%;
    width: 35%;
    margin-left: 0.9%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titulo-destaque{
    font-size:250%;
    font-weight: bold;
}

.descricao-destaque{
    font-size: 135%;
}

.info-destaque button{
    border: none;
    color: var(--letra);
    background-color: rgba(78, 78, 78, 0.774);
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    height: 11%;
    width: 30%;
}

.mais-info{
    margin-left: 10px;
}

.info-destaque button:hover{
    color: black;
    background-color: var(--letra);
}

.text{
    margin-left: 1%;
    font-size: 20px;
    font-weight: bold;
    color: var(--letra);
}

.item{
    width: 60%;
}